.btn {
    background-color: $mainColor;
    color: #fff;
    border: none;
    padding: 10px 0;
    width: 140px;
    font-weight: 600;
    border-radius: 50px;
    font-size: 18px;
    box-shadow: $box-shadow;
    cursor: pointer;
    border: 1px solid $mainColor;
    transition: 0.3s;
    &:hover {
        color: $mainColor;
        background-color: $white;
    }
}

.main-color {
    color: $mainColor;
}

.center {
    text-align: center;
    font-size: 40px;
}
img {
    width: 100%;
}
