$mainColor: #6975e3;
$black: #0b132a;
$white: #fff;
$default: #4f5665;
$grey: #e0e0e0;
$yellow: #fea250;
$orange: #fa620c;
$pink: #ffbcbc;
$blue: #389af5;
$brown: #a95e19;

$box-shadow: 0 5px 15px rgba(105, 117, 227, 0.7);
$light-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

$footer-color: rgba(105, 117, 227, 0.25);
$light-blue: rgba(105, 117, 227, 0.15);
